.profiles {
    position: sticky;
    top: 10px;
    padding: 15px;
}

.profiles h2{
    text-align: center;
}

.about-profile {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    border-radius: 10px;
}

.breaktime{
    text-align: center;
    background-color: skyblue;
    padding: 15px 5px;
    border-radius: 10px;
}
.breaktime button {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.breaktime button:hover {
    background-color: cyan;
}

.time {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.btn-active {
    text-align: center;
    margin-top: 40px;
}

.activity-btn {
    padding: 10px;
    width: 70%;
    border-radius: 10px;
    background-color: rgb(151, 63, 234);
    color: white;
    font-size: 18px;
    font-weight: 700;
}