.all-workout img {
    width: 300px;
    height: 150px;
    border-radius: 10px 10px 0 0;
}

.all-workout {
    width: 310px;
    height: 400px;
    border: 2px solid rgb(128, 122, 122);
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 15px;
}
