.all-workout img {
    width: 300px;
    height: 150px;
    border-radius: 10px 10px 0 0;
}

.all-workout {
    width: 310px;
    height: 400px;
    border: 2px solid rgb(128, 122, 122);
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 15px;
    position: relative;
}

.all-workout:hover {
    color: orangered;
}

.all-workout p {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.update-btn {
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: aqua;
    color: black;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.update-btn:hover {
    background-color: orange;
    color: white;
}

