.container {
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.container h1 {
    color: blue;
    font-size: 40px;
    margin-top: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.container h1:hover {
    color: cyan;
}