.container {
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.container h1 {
    color: blue;
    font-size: 40px;
    margin-top: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.workouts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.profile-container{
    background-color: rgb(212, 201, 201);
}

@media screen and (max-width: 750px) {
    .workouts-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
    .workouts-container {
        grid-template-columns: repeat(2, 1fr);
    }
}